.neonButton {
  position: relative;
}

.neonButton::before {
  position: absolute;
  pointer-events: none;
  content: "";
  background-color: inherit;
  width: 100%;
  height: 100%;
  top: 130%;
  left: 0px;
  transform: perspective(6.2rem) rotateX(73deg);
  filter: blur(20px);
}